<div style="text-align: center; margin: 0 auto;">
<h1>Login</h1>

<%= form_for :session, url: login_path do |f| %>
<% flash.each do |message_type, message| %>
     <div class="alert"-<%= message_type %>"><h1><%= message %></h1></div>
   <% end %>
  <p>
    <%= f.label :username, "Username: "%>
    <%= f.text_field :username%>
  </p>
  <p>
    <%= f.label :password, "Password: "%>
    <%= f.password_field :password%>
  </p>
  <p>
    <%= f.submit "Login"%>
  </p>
<% end %>
</div>
