<!-- articles container  -->
<div id="articles-container">
  <% if logged_in && @current_user.username == "Cyrus" %>
    <%= link_to "Create a New Article", new_article_path%>
  <% else %>
    <br>
  <% end %>
<h2 style="text-align: center;">Recent Articles</h2>
<% @articles.each do |article| %>
  <div class="article">
  <h2><%= article.title  %></h2>
  <h3>@<%= article.author  %></h3>
  <p><%= article.body.html_safe  %></p>
  <img src="<%=article.image_url%>" alt="article photo" />
  <% if logged_in && @current_user.username == "Cyrus" %>
    <%= link_to "Edit Article", edit_article_path(article) %>
    <%= link_to "Delete Article", article_path(article), method: :delete %>
  <% end %>
  </div>
<% end %>
</div>
<!-- community-stats-container -->
<div id="community-stats-container">
  <br>
  <h2 style="text-align: center;">Community Stats</h2>
  <li class="community-stats-subtitles">Total Tweets:</li>
  <h1 class="community-stats-info"><%= Tweet.all.count %></h1>
  <li class="community-stats-subtitles">Total Articles:</li>
  <h1 class="community-stats-info"><%= Article.all.count %></h1>
  <li class="community-stats-subtitles">Total Members:</li>
  <h1 class="community-stats-info"><%= Member.all.count %></h1>
  <li class="community-stats-subtitles">Total Journal Entries:</li>
  <h1 class="community-stats-info"><%= Journal.all.count %></h1>
</div>
<!-- tweets container  -->
<div id="tweets-container">
  <br>
  <h2 style="text-align: center;">Live Feed</h2>
  <% if logged_in %>
  <div id="new-tweet-container"><%= link_to "Create a New Tweet", new_tweet_path%></div>
  <% end %>
  <%= render partial: "articles/tweets", collection: @tweets %>
</div>
