<h2>Welcome <%= @member.username %>!</h2>
<!-- Stats container -->
<div class="member-page-containers">
  <h2>Stats</h2>
    <%= form_for @member do |f|%>
    <p>
      <%= f.label :calorie_intake, "Calorie Intake"%>
      <%= f.number_field :calorie_intake%>
    </p>
    <p>
      <%= f.submit "Update Calories" %>
    </p>
    <%end%>
    <% daily_calorie_percent = @member.calorie_intake.to_f/2000*100%>
  <!-- calorie progress bar  -->
  <div style="width: 100%; height: 50px; background: linear-gradient(to right, red 0%, red <%= daily_calorie_percent%>%, white <%= daily_calorie_percent%>%); border: 1px solid black;"></div>
  <hr>
  <%= form_for @member do |f|%>
  <p>
    <%= f.label :minutes_exercised , "Minutes Exercised"%>
    <%= f.number_field :minutes_exercised %>
  </p>
  <p>
    <%= f.submit "Update Exercise" %>
  </p>
  <%end%>
  <!-- exercise progress bar -->
  <div style="width: 100%; height: 50px; background: linear-gradient(to right, red 0%, red <%= @member.minutes_exercised %>%, white <%= @member.minutes_exercised %>%); border: 1px solid black;"></div>
  <hr>
  <p>Number of Live Feed Contributions</p>
  <p style="text-align: right;"><%= @all_tweets.count %></p>
  <hr>
  <p>Number of Journal Entries</p>
  <p style="text-align: right;"><%= @journal_entries.count %></p>
  <hr>
</div>
<!-- live feed contributions container  -->
<div class="member-page-containers">
  <h2>Live Feed Contributions</h2>
  <% @all_tweets.each do |tweet| %>
      <p><strong><%= tweet.created_at.strftime("%b %d, %Y %I:%M:%S %p") %></strong></p>
      <p><%= tweet.body %></p>
      <hr>
  <% end %>

</div>
<!--journal entries container  -->
<div class="member-page-containers">
  <h2>Journal</h2>
  <%= link_to "Add Journal Entry", new_journal_path%>
  <% @journal_entries.each do |journal| %>
      <p><strong><%= journal.created_at.strftime("%b %d, %Y %I:%M:%S %p") %></strong></p>
      <p><%= journal.entry %></p>
      <%= link_to "Edit Entry", edit_journal_path(journal) %>
      <hr>
  <% end %>
</div>
