<!-- TODO: Look at new layout, with idea to incorporate D3 graphing as part of tracking with focus on diabetes managment -->
<!-- TODO: Incorporate USDA API integration for meal/food search -->
<!-- TODO: Think about create a general form for people to include more trackers as they see fit -->
<!-- Login/Logout form  -->
<div id="login-sign-up">
  <% if logged_in %>
      Welcome <%= @current_user.username%> |
      <%= link_to 'Logout', logout_path, :method => :delete %></div>
  <% end %>
</div>
<div class="stats-holding-container">
  <!-- Stats container -->
  <div class="member-page-containers">
    <h2>Stats</h2>
      <!-- Form -->
      <%= form_for @member do |f|%>
        <div style="padding-bottom: 4px;">
          <%= f.label :calorie_intake, "Calorie Intake"%>
          <%= f.number_field :calorie_intake, :style => "width: 60px;"%>
          <%= f.label :calorie_intake_goal, "Daily Goal"%>
          <%= f.number_field :calorie_intake_goal, :style => "width: 60px;"%>
          <%= f.label :sleep_goal , "Nightly Goal"%>
          <%= f.number_field :sleep_goal, :style => "width: 60px;" %>
          <%= f.label :calories_burned , "Calories Burned"%>
          <%= f.number_field :calories_burned, :style => "width: 60px;" %>
          <%= f.label :calories_burned_goal , "Daily Goal"%>
          <%= f.number_field :calories_burned_goal, :style => "width: 60px;" %>
          <%= f.label :minutes_exercised , "Minutes Exercised"%>
          <%= f.number_field :minutes_exercised, :style => "width: 60px;" %>
          <%= f.label :minutes_exercised_goal , "Daily Goal"%>
          <%= f.number_field :minutes_exercised_goal, :style => "width: 60px;" %>
          <%= f.label :miles , "Miles"%>
          <%= f.number_field :miles, :style => "width: 60px;" %>
          <%= f.label :miles_goal , "Goal"%>
          <%= f.number_field :miles_goal, :style => "width: 60px;" %>
          <%= f.label :steps , "Steps Exercised"%>
          <%= f.number_field :steps, :style => "width: 60px;" %>
          <%= f.label :steps_goal , "Daily Goal"%>
          <%= f.number_field :steps_goal, :style => "width: 60px;" %>
          <%= f.label :blood_sugar , "Blood Sugar"%>
          <%= f.number_field :blood_sugar, :style => "width: 60px;"  %>
          <%= f.label :blood_sugar_goal , "Each Time Goal"%>
          <%= f.number_field :blood_sugar_goal, :style => "width: 60px;"  %>
          <%= f.label :sleep , "Sleep"%>
          <%= f.number_field :sleep, :style => "width: 60px;" %>
          <%= f.submit "Update" %>
        </div>
      <%end%>
  </div>
</div>
